<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'; script-src-elem 'self' 'unsafe-inline' https://*.twitch.tv"
    />
    <title>Stream Window</title>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
